In [1]:
import pandas as pd
import numpy as np

In [2]:
# number of jar sold
np.random.seed(0)
sale_amounts=np.random.randint(20, size=(5,3))
sale_amounts

array([[12, 15,  0],
       [ 3,  3,  7],
       [ 9, 19, 18],
       [ 4,  6, 12],
       [ 1,  6,  7]])

In [3]:
# Create weekly_sales Datafram
weekly_sales=pd.DataFrame(sale_amounts, index=["Mon","Tue","Wed","Thu","Fri"],
                         columns=["Almond Butter", "Peanut Butter", "Cashew Butter"])
weekly_sales

     Almond Butter  Peanut Butter  Cashew Butter
Mon             12             15              0
Tue              3              3              7
Wed              9             19             18
Thu              4              6             12
Fri              1              6              7

In [4]:
# create price array
prices = np.array([10,8,12])

In [5]:
butter_prices=pd.DataFrame(prices.reshape(1,3), index=["Price"], 
                          columns=["Almond Butter", "Peanut Butter", "Cashew Butter"])

In [6]:
butter_prices

       Almond Butter  Peanut Butter  Cashew Butter
Price             10              8             12

In [7]:
weekly_sales.shape, butter_prices.T.shape

((5, 3), (3, 1))

In [8]:
total_prices=weekly_sales.dot(butter_prices.T)

In [9]:
total_prices

     Price
Mon    240
Tue    138
Wed    458
Thu    232
Fri    142

In [10]:
weekly_sales["Total_prices"]=total_prices
weekly_sales

     Almond Butter  Peanut Butter  Cashew Butter  Total_prices
Mon             12             15              0           240
Tue              3              3              7           138
Wed              9             19             18           458
Thu              4              6             12           232
Fri              1              6              7           142